* {
    margin: 0;
    padding: 0;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding-top: 50px;
}

.conteiner {
    width: 1280px;
    margin: 0 auto;
}

.slider {
    width: 1080px;
    height: 400px;
    background-image: url(img/banner3.jpg);
    position: relative;
}

//*.menu {
float: right;
display: inline-block;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #292929;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 15px;
}

.menu-link-active {
    color: #292929;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 3px solid #292929;
    padding: 15px 15px;
}

.menu-link:hover {
    color: #292929;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 1px;
    border-bottom: 3px solid #292929;
}
*//

.slider-text {
    margin-top: 50px;
}

.slider-trending {
    color: #212121;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.slider-h2 {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slider-content {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.motopark {
    padding-top: 150px;
    height: 275px;
    float: left;
    display: inline-block;
}

.moto-text {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.catalog {
    padding-top: 10px;
    padding-left: 50px;
    weight: 1080px;
    height: 300px;
}

.moto1 {
    background-image: url(img/yellow.jpg);
    background-size:contain;
    height: 140px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.moto1:hover {
    background-image: url(img/yellow2.jpeg);
    background-size:contain;
    height: 150px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.motoname {
    padding-top: 150px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
}

.price {
    color: #212121;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.moto2 {
    background-image: url(img/blue.jpeg);
    background-size:contain;
    height: 150px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.moto2:hover {
    background-image: url(img/blue2.jpeg);
    background-size:contain;
    height: 144px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.motoname2 {
    padding-top: 150px;
    padding-left: 10px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
}

.moto3 {
    background-image: url(img/black.jpeg);
    background-size:contain;
    height: 150px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.moto3:hover {
    background-image: url(img/black2.jpeg);
    background-size:contain;
    height: 144px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.motoname3 {
    padding-top: 150px;
    padding-left: 10px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
}
}

.clr {
    clear: both
}

#inline {
    display: none;
    width: 90%;
    margin: 0 auto;
    background: none;
    padding: 20px 10px 10px 10px
}

.moto-spec {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt {
    display: inline-block;
    color: #676767;
    width: 32%;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.4em
}

.txtarea {
    display: inline-block;
    resize: none;
    color: #676767;
    width: 98.2%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.4em;
}

.txt:focus,
.txtarea:focus {
    border-style: solid;
    border-color: #bababa;
    color: #444
}

input.error,
textarea.error {
    border-color: #973d3d;
    border-style: solid;
    background: #f0bebe;
    color: #a35959
}

input.error:focus,
textarea.error:focus {
    border-color: #973d3d;
    color: #a35959
}

#send {
    color: #212121;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 125px;
    height: 35px;
    line-height: 30px;
    margin-top: 3.5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
}

#send:hover {
    background: #979797
}

.modalbox1 {
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 235px;
    height: 45px;
    line-height: 46px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
}

.modalbox:hover {
    background: #979797
}

.aboutus {
    padding-top: 20px;
    height: 300px;
    float: left;
    display: inline-block;
}

.aboutusword {
    color: #212121;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.aboutus-content {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    background-image: url(img/footer2.jpg);
    width: 1000px;
    height: 400px;
    position: relative;
}

.box {
    width: 1000px;
    position: relative;
}

.contact {
    width: 200px;
    height: 200px;
    padding-right: 80px;
    display: inline-block;
    float: left;
}

.h3-contact {
    color: #6c6c6c;
    width: 221px;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.adress {
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none; 
}

.tel {
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.email {
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.userfulinfo {
    margin-top: 10px;
    margin-left: 500px;
    width: 200px;
    height: 165px;
}

.useful-h3 {
    color: #6c6c6c;
    width: 221px;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.forshoper {
    width: 132px;
    height: 62px;
    list-style-type: none;
    float: left;
    margin-right: 103px;
}

.shoper {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    width: 200px;
    text-transform: uppercase;
}

.footer-link {
    height: 50px;
}

.socialicon {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cpleft {
    float: right;
    margin-top: 120px;
    margin-right: 165px;
    position: relative;
}

//*.cpright {
    float: right;
    margin-top: 50px;
}
*//

.copytxt {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

@media (max-width:1199px) {
    .txt {
        display: block;
        width: 100%
    }

    .txtarea {
        width: 100%
    }

    #send {
        width: 100%
    }

    #inline {
        width: 90%
    }

    .content {
        width: 100%
    }

    .conteiner {
        display: block;
    }

    .slider {
        float: left;
        clear: left;
        margin: 0 0 10px;
        width: 100%;
    }
}

@media (min-width: 1240px) {}

/* tablet */
@media (min-width: 1024px) and (max-width: 1240px) {}

@media (min-width: 768px) and (max-width: 1024px) {}
}

/* mobile */
@media (max-width: 768px) {}

/* iPad in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) {}

/* iPad in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

/* iPad in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Retina iPad in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}

/* iPad 1 & 2 in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad 1 & 2 in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad 1 & 2 in portrait */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in portrait & landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}